body {
    background: rgb(53, 50, 50);
    font-family: arial;
    margin-top: 100px;
}
  
h1 {
    color: red;
    font-size: 32px;
    text-align: center;
}
  
h2 {
    color: red;
    font-size: 32px;
}

p {
    color: red;
    font-size: 25px;
}

.my-navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    align-items: center;
    background-color: black;
}

.logo {
    text-decoration: none !important;
}

.logo > img {
    height: 70px;
    width: 70px;
    object-fit: contain;
    margin: 10px;
    padding: 10px;
}

.link {
    text-decoration: none;
    margin: 20px;
    padding: 10px;
}

.teaser {
    display: flex;
}
