body {
    background: rgb(53, 50, 50);
    font-family: 'Marvel', sans-serif;
    margin-top: 100px;
}
  
h1 {
    color: red;
    font-size: 50px;
    text-shadow: black;
    text-align: center;
}
  
h2 {
    color: red;
    font-size: 40px;
}

p {
    color: red;
    font-size: 25px;
}

.my-navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    align-items: center;
    background-color: black;
}

.logo {
    text-decoration: none !important;
}

.logo > img {
    height: 70px;
    width: 70px;
    object-fit: contain;
    margin: 10px;
    padding: 10px;
}

.my-btn {
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    background-color :red;
    color: black;
    font-size: 24px;
    font-family: 'Marvel', sans-serif;
    border-radius: 4px;
}

.my-btn:hover {
    background-color:white;
    text-decoration: none;
    color:black;
}

.banner {
    background-image: url(images/dead1.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.banner > h1 {
    font-family: 'Marvel', sans-serif; 
    color: red;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    padding: 20vh;
  }

.teaser {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100%;
}

.box1 {
    background-color: black;
    border-radius: 20px;
    border: 2px solid red;
    box-shadow: 5px 5px 5px red;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
}

.video {
    background-color: black;
    border-radius: 20px;
    border: 2px solid red;
    box-shadow: 5px 5px 5px red;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    align-items: center;
}

.casting{
    display: flex;
    font-size: 40px;
    text-shadow: 2px 2px 8px #000000;
    color: red; 
justify-content:space-around;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel > div {
  width: 500px;
  height: 500px;
}
.list > ol::before {content: "•"; color: red;
  display: inline-block; width: 1em;
  margin-left: -1em
}

.mapouter {
    position: relative;
    text-align: right;
    height: 307px;
    width: 317px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 307px;
    width: 317px;
}
.footer {
  background:black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: red;
  opacity: 0.35;
  text-shadow: 2px 2px 8px #666666;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.footer-copyright {
    color: red;
    font-size: 30px ;
    text-shadow: 2px 2px 8px #666666;
}
